body {
    margin: 0;
    font-family: Arial;
    transition: 0.3s;
}

/* DARK MODE */
.dark {
    background: #0f172a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #3b82f6;
    color: white;
}

.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #3b82f6, #06b6d4);
    color: white;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.predict-section {
    padding: 40px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

input, select {
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 12px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
}

/* RESULT */
.result-box {
    margin-top: 20px;
    font-size: 20px;
}

.bar {
    height: 10px;
    border-radius: 10px;
    background: #ddd;
    margin-top: 10px;
}

.fill {
    height: 100%;
    border-radius: 10px;
}

.green { background: green; }
.red { background: red; }
.yellow { background: orange; }

/* HISTORY */
.history {
    margin-top: 20px;
    font-size: 14px;
}