<!DOCTYPE html>
<html>
<head>
    <title>ShipmentSure</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <h1>ShipmentSure</h1>

    <div class="form">

        <select id="warehouse">
            <option value="A">Warehouse A</option>
            <option value="B">Warehouse B</option>
            <option value="C">Warehouse C</option>
            <option value="D">Warehouse D</option>
        </select>

        <select id="mode">
            <option value="Ship">Ship</option>
            <option value="Flight">Flight</option>
            <option value="Road">Road</option>
        </select>
        <input id="calls" type="number" placeholder="Customer Care Calls">
        <input id="rating" type="number" placeholder="Customer Rating">
        <input id="cost" type="number" placeholder="Cost of Product">
        <input id="purchases" type="number" placeholder="Prior Purchases">
        <select id="importance">
            <option value="0">Low Importance</option>
            <option value="1">Medium Importance</option>
            <option value="2">High Importance</option>
        </select>
        <select id="gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>

        <input id="discount" type="number" placeholder="Discount Offered">
        <input id="weight" type="number" placeholder="Weight in grams">

        <button onclick="predict()">Predict</button>
    </div>

    <div class="dashboard">
        <div class="card">
            <h3>📦 Delivery Status</h3>
            <p id="status">--</p>
        </div>

        <div class="card">
            <h3>📊 Confidence</h3>
            <p id="confidence">--</p>
        </div>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>